@tailwind base;
@tailwind components;
@tailwind utilities;


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  font-family: 'Noto Sans', 'PingFang SC', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.layout-root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.layout-root main {
  flex: 1;
}

.scroll-lottie-wrapper {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;

  width: 120px;
  height: 120px;
  transition: transform 0.3s ease;
}

.scroll-lottie-wrapper:hover {
  transform: translateX(-50%) scale(1.1);
  cursor: pointer;
}

@keyframes shimmer {
  0% {
    background-position: -200% center;
  }

  100% {
    background-position: 200% center;
  }
}





